@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: $font-jost;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 4rem;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1440px;

  &__nav {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 4.8rem;
    list-style-type: none;
  }

  &__link {
    font-size: 1.6rem;
    color: $green;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }

  &__tel {
    font-size: 1.6rem;
    font-weight: 500;
    color: $green;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }

  &__cart {
    position: relative;
    border: 1px solid $orange;
    border-radius: 100%;
    display: block;
    width: 3.8rem;
    height: 3.8rem;
    background-color: $orange;
    background-image: url(../images/cart.svg);
    background-size: 1.6rem 1.4rem;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      border-color: $green;
      background-color: $green;
    }
  }

  &__counter {
    position: absolute;
    right: 1rem;
    top: .6rem;
    font-size: .8rem;
    color: $white;
  }
}

.logo {
  img {
    display: block;
  }
}