@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
  font-size: 10px;
  overflow-anchor: none;
}

body {
  font-size: 1.6rem;
  font-family: $font-jost;
  color: $green;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 5rem;
  padding: 4rem 15px 0;
  max-width: 1440px;

  &__nav {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 4.8rem;
    list-style-type: none;
  }

  &__link {
    color: $green;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }

  &__tel {
    font-weight: 500;
    color: $green;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }

  &__cart {
    position: relative;
    border: 1px solid $orange;
    border-radius: 100%;
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: $orange;
    background-image: url(../images/cart.svg);
    background-size: 1.6rem 1.4rem;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      border-color: $green;
      background-color: $green;
    }
  }

  &__counter {
    position: absolute;
    right: 1rem;
    top: .6rem;
    font-size: .8rem;
    color: $white;
  }
}

.logo {
  img {
    display: block;
    width: 12rem;
  }
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1440px;
}

.main {
  position: relative;
  z-index: 0;
  padding-bottom: 187px;
  background-image: url(../images/main.png);
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__item {
    margin-top: 6rem;
    padding-left: 12rem;
    max-width: 378px;
  }

  &__link {
    margin-top: 5.5rem;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &__cover {
    position: relative;
    border: 1px solid rgba($green, .4);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 758px;
    height: 758px;
  }

  &__line {
    border: 1px solid rgba($green, .4);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 656px;
    height: 656px;
  }

  &__image {
    border-radius: 100%;
    width: 92%;
    box-shadow: 10px 10px 10px rgba($green, .5);
  }

  &__text {
    padding-top: 3.2rem;
    padding-left: 1rem;
  }

  &__btn {
    position: absolute;
    border: none;
    padding: 0;
    color: $green;
    background-color: transparent;
    text-align: left;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      border-radius: 100%;
      width: 11px;
      height: 11px;
      background-color: $green;
      box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
    }

    &:hover::before {
      background-color: $orange;
      box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
    }

    &_one {
      top: 51px;
      left: 67px;

      &::before {
        bottom: 9px;
        right: -35px;
      }
    }

    &_two {
      top: 194px;
      right: 0;

      &::before {
        top: 17px;
        left: -26px;
      }
    }

    &_three {
      bottom: -45px;
      right: 244px;

      &::before {
        top: -24px;
        left: 13px;
      }
    }
  }

  &__tomato {
    position: absolute;
    bottom: 117px;
    right: 104px;
    z-index: -1;
    width: 11rem;
  }

  &__cucumber {
    position: absolute;
    top: 0;
    left: 34%;
    z-index: -1;
    width: 8.5rem;
  }

  &__avocado {
    position: absolute;
    top: 56px;
    right: 0;
    z-index: -1;
    width: 17.8rem;
  }

  &__pepper {
    position: absolute;
    top: 397px;
    left: 20px;
    z-index: -1;
    width: 8.6rem;
  }

  &__beans {
    position: absolute;
    bottom: 167px;
    left: 0;
    z-index: -1;
    width: 10.5rem;
  }

  &__food {
    display: block;
    color: rgba($green, .8);
  }
}

.title {
  margin: 0;
  font-family: $font-cormorant;
  font-weight: 700;
  font-size: 8rem;
  line-height: 1;

  &__span {
    font-style: italic;
  }

  &_block {
    .title__span {
      display: block;
    }
  }
}

.description {
  margin: 0;
  line-height: 1.5;

  &_size_s {
    font-size: 1.8rem;
  }

  &_size_m {
    font-size: 2.4rem;
  }
}

.link {
  border-radius: 3.2rem;
  display: inline-block;
  padding: 2.3rem 4.2rem;
  letter-spacing: 0.14rem;
  color: $white;
  background-color: $orange;
  box-shadow: 0 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
  text-transform: uppercase;
  text-decoration: none;

  &_small {
    padding: 2rem 3.4rem;
    font-size: 1.4rem;
  }
}

.offer {
  padding-top: 2rem;
  padding-bottom: 12.8rem;
  background-image: url(../images/offer.png);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;

  &__text {
    margin-top: 6rem;
    max-width: 700px;
  }
}

.slider {
  overflow: hidden;
  padding-top: 10rem;
}

.swiper {
  overflow: initial;

  &-slide {
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    border: 1px solid rgba($green, .4);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    height: 520px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &_card_one {
      background-image: url(../images/milk.png);
    }

    &_card_two {
      background-image: url(../images/grocery.png);
    }

    &_card_three {
      background-image: url(../images/meat.png);
    }

    &_white {
      align-items: flex-start;
      justify-content: flex-end;

      &:hover {
        .swiper-slide__hover {
          height: 233px;
          opacity: 1;
        }

        &::after {
          content: '';
          position: absolute;
          top: 2px;
          left: 2px;
          z-index: -1;
          border-radius: 2rem;
          width: calc(100% - 4px);
          height: calc(100% - 4px);
          background-color: rgba($white, .55);
        }
      }
    }

    &:hover {
      box-shadow: 0 0 0 2px rgba($green, .4) inset;
    }

    &__title {
      margin: 0;
      font-family: $font-cormorant;
      font-weight: 700;
      font-size: 3rem;
      line-height: 1;
    }

    &__hover {
      height: 0;
      opacity: 0;
    }

    &__text {
      margin: 0;
      margin-top: 2.5rem;
      max-width: 267px;
      line-height: 1.5;
      color: rgba($green, .7);
    }

    &__link {
      display: inline-flex;
      align-items: center;
      gap: 2rem;
      margin-top: 3.6rem;
      font-weight: 500;
      color: $green;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      opacity: .8;

      &:hover {
        opacity: 1;
      }

      &::before {
        content: '';
        display: block;
        width: 3rem;
        height: 3rem;
        background-image: url(../images/plus.svg);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  &-pagination {
    display: none;
  }

  &-button-next,
  &-button-prev {
    top: -60px;

    &::after {
      font-size: 2rem;
      color: rgba($green, .4);
    }

    &:hover {
      &::after {
        color: rgba($green, 1);
      }
    }
  }

  &-button-prev {
    left: initial;
    right: 92px;
  }
}

.counter {
  display: flex;

  &__btn {
    border: 1px solid $green;
    border-radius: 100%;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__minus {
    background-image: url(../images/minus-counter.svg);
    background-size: 25px 25px;
    opacity: 0.4;
    pointer-events: none;
  }

  &__plus {
    background-image: url(../images/plus-counter.svg);
    background-size: 25px 25px;
  }

  &__input {
    border: none;
    padding: 0;
    width: 46px;
    font-size: 2.4rem;
    text-align: center;
  }

  &_small {
    .counter__btn {
      width: 40px;
      height: 40px;
    }
  }
}

.about {
  padding-top: 3rem;
  padding-bottom: 10rem;

  &__box {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }

  &__text {
    padding-top: 4.5rem;
    padding-left: 12rem;
    flex-basis: 59rem;
  }

  &__list {
    display: flex;
    gap: 8.5rem;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: $font-cormorant;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;

    &::before {
      content: '';
      border: 1px solid rgba($green, .4);
      border-radius: 100%;
      width: 8.6rem;
      height: 8.6rem;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:nth-child(1) {
      &::before {
        background-image: url(../images/fruits.svg);
      }
    }

    &:nth-child(2) {
      &::before {
        background-image: url(../images/traditional.svg);
      }
    }

    &:nth-child(3) {
      &::before {
        background-image: url(../images/good.svg);
      }
    }
  }
}

.trends {
  padding-top: 7.3rem;
  padding-bottom: 10rem;

  &__text {
    margin-top: 2.2rem;
  }

  .swiper-slide {
    height: 686px;

    &__cover {
      height: 340px;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__description {
      margin: 0;
      margin-top: 3rem;
      max-width: 29rem;
      font-size: 1.8rem;
      color: rgba($green, .6);
    }

    &__price {
      margin: 0;
      margin-top: 3rem;
      font-size: 2.4rem;
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: auto;
    }
  }
}

.catalog {
  padding-top: 8.7rem;
  padding-bottom: 10rem;

  &__text {
    margin-top: 3.9rem;
  }

  &__categories {
    display: flex;
    gap: 2rem;
    margin-top: 8.5rem;
  }

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__btn {
    border: 1px solid currentColor;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22.9rem;
    min-height: 7rem;
    font-size: 1.8rem;
    color: rgba($green, .6);
    background-color: transparent;
    cursor: pointer;
  }
  
  &__input:checked + &__btn {
    color: $orange;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 2rem;
    padding: 0;
    margin-top: 5rem;
    list-style-type: none;
  }

  &__load {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 0;
    margin: 6rem auto 0;
    font-size: 1.6rem;
    color: rgba($green, .6);
    cursor: pointer;

    &::before {
      content: '';
      width: 2.5rem;
      height: 2.5rem;
      background-image: url(../images/refresh.png);
      background-repeat: no-repeat;
    }
  }
}

.card {
  position: relative;
  border: 1px solid rgba($green, .4);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  height: 432px;

  &:hover {
    box-shadow: 0 0 0 2px rgba($green, .4) inset;
  }

  &__cover {
    height: 200px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    margin: 0;
    font-family: "Cormorant", serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
  }

  &__description {
    margin: 0;
    margin-top: 3rem;
    max-width: 29rem;
    max-width: 24rem;
    font-size: 1.6rem;
    color: rgba($green, .6);
  }

  &__price {
    margin: 0;
    margin-top: 3rem;
    font-size: 2.4rem;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }
}

