@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: $font-jost;
  color: $green;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 6rem;
  padding: 4rem 15px 0;
  max-width: 1440px;

  &__nav {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 4.8rem;
    list-style-type: none;
  }

  &__link {
    color: $green;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }

  &__tel {
    font-weight: 500;
    color: $green;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }

  &__cart {
    position: relative;
    border: 1px solid $orange;
    border-radius: 100%;
    display: block;
    width: 3.8rem;
    height: 3.8rem;
    background-color: $orange;
    background-image: url(../images/cart.svg);
    background-size: 1.6rem 1.4rem;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      border-color: $green;
      background-color: $green;
    }
  }

  &__counter {
    position: absolute;
    right: 1rem;
    top: .6rem;
    font-size: .8rem;
    color: $white;
  }
}

.logo {
  img {
    display: block;
  }
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1440px;
}

.main {
  position: relative;
  padding-bottom: 187px;
  background-image: url(../images/main.png);
  background-position-x: center;
  background-size: cover;

  &__item {
    margin-top: 6rem;
    padding-left: 12rem;
    max-width: 378px;
  }

  &__link {
    margin-top: 6rem;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &__cover {
    position: relative;
    border: 1px solid rgba($green, .4);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 763px;
    height: 763px;
  }

  &__line {
    border: 1px solid rgba($green, .4);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 658px;
    height: 658px;
  }

  &__image {
    border-radius: 100%;
    width: 92%;
    box-shadow: 10px 10px 10px rgba($green, .5);
  }

  &__btn {
    position: absolute;
    border: none;
    padding: 0;
    color: $green;
    background-color: transparent;
    text-align: left;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      border-radius: 100%;
      width: 11px;
      height: 11px;
      background-color: $green;
      box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
    }

    &:hover::before {
      background-color: $orange;
      box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
    }

    &_one {
      top: 32px;
      left: 93px;
      &::before {
        bottom: 0;
        right: -24px;
      }
    }

    &_two {
      top: 182px;
      right: -5px;
      &::before {
        left: -34px;
        bottom: 0;
      }
    }

    &_three {
      bottom: -35px;
      right: 236px;
      &::before {
        top: -20px;
        left: 18px;
      }
    }
  }

  &__tomato {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 110px;
  }

  &__cucumber {
    position: absolute;
    top: 0;
    left: 38%;
    width: 85px;
  }

  &__avocado {
    position: absolute;
    top: 50px;
    right: 0;
    width: 190px;
  }

  &__pepper {
    position: absolute;
    top: 36%;
    left: 30px;
    width: 86px;
  }

  &__beans {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 118px;
  }

  &__food {
    display: block;
    color: rgba($green, .8);
  }
}

.title {
  margin: 0;
  font-family: $font-cormorant;
  font-weight: 700;
  font-size: 8rem;

  &__span {
    font-style: italic;
  }

  &_block {
    .title__span {
      display: block;
    }
  }
}

.description {
  margin: 0;

  &_size_s {
    font-size: 1.8rem;
  }
}

.link {
  border-radius: 3.2rem;
  display: inline-block;
  padding: 2.5rem 4.2rem;
  color: $white;
  background-color: $orange;
  box-shadow: 0 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
  text-transform: uppercase;
  text-decoration: none;
}